.de3-search {
    padding: 54px 90px;
    display: flex;
    flex-direction: column;
    gap: 54px;
}

#de3-search-card {
    padding: 54px 31px;
    background-color: var(--de3-color-bg-search);
}

.de3-search h1 {
    font-size: 38px;
    color: var(--de3-color-font-primary);
    font-weight: 500;
    margin-bottom: 12px;
}

.de3-search-container input {
    height: 40px;
    padding-left: 17px;
    padding-right: 27px;
    font-size: 16px;
    width: 298px;
    margin-bottom: 24px;
}